{% extends "mail/layout.html" %}
{% load static %}
{% block body %}
	<div class="card bg-dark">
		<div class="row justify-content-center">
			<h2 class="card-title col-2 text-light">Login</h2>
		</div>
		<form class="card-body" action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<div class="input-group">
				<input id="email" autofocus class="form-control bg-dark text-light" type="text" name="email" placeholder="Email">
				<div class="form-group-append">
					<span class="input-group-text bg-secondary text-light">@lustremail.com</span>
				</div>
			</div>
			<div class="input-group mt-3">
				<input id="pass" class="form-control bg-dark text-light" type="password" name="password" placeholder="Password">
				<div id="pass-toggle" class="form-group-append bg-dark mt-1 ml-1 mb-1 mr-1">
					<span><img id="toggle-img" height="32" width="32" src="{% static 'mail/moon.png' %}"/></span>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<input class="btn btn-success col-2" type="submit" value="Login">
			</div>
		</form>
		<div class="row justify-content-center">
			<a class="text-warning" href="{% url 'register' %}">Don't have an account?</a>
		</div>
	</div>
	
{% endblock %}

{% block script %}
    <script src="{% static 'mail/login.js' %}"></script>
{% endblock %}